<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>
<hr>
<app-hello></app-hello>
<hr>
<app-ng-if-simple></app-ng-if-simple>
<br>
<hr>
<h2> Course Details </h2>
Select a course to view <select #cor (change)="cor.value">
    <option value="Node JS">Node JS</option>
    <option value="Typescript">Typescript</option>
    <option value="Angular">Angular</option>
    <option value="React JS">React JS</option>
    </select><br/><br/>
<app-courses-list [cName]="cor.value" (onRegister)="courseReg($event)"></app-courses-list>

{{message}}
<br/>
<hr>
<b>Using Observables!</b>
<h6 style="margin-bottom: 0">VALUES:</h6>
<div *ngFor="let value of myArray"> {{ value }}</div>
<div style="margin-bottom: 0">ERRORS: {{ errors }}</div>
<div style="margin-bottom: 0">FINISHED: {{ finished }}</div>
<button style="margin-top: 2rem;" (click)="fetchData()">Fetch Data</button>
<br/>
<hr>
<app-book></app-book>
<hr>

<form #formRef="ngForm" (ngSubmit)="onSubmit()">
	<input class="form-control" name="controlname" [(ngModel)]="classVariable" #variable ="ngModel"/>{{variable.value}}
</form>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<form #bookingForm="ngForm" (ngSubmit)="temp=true">
				<div class="form-group">
					<input type="text" class="form-control" [(ngModel)]="customerId" name="custId" placeholder="Customer Id">
	        </div>
					<div class="form-group">
						<input type="number" class="form-control" [(ngModel)]="noOfTravellers" name="travellerCount"
	            placeholder="No of Travellers">
	        </div>
						<div class="text-center">
							<button type="submit" class="btn btn-success">Book Tickets</button>
						</div>
			</form>
		</div>
	</div>
</div>
{{ bookingForm.value | json }}

<br>
<hr>
<app-registration-form></app-registration-form>
<br>
<hr>