<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>
<hr>
<app-hello></app-hello>
<hr>
<app-ng-if-simple></app-ng-if-simple>
<br><hr>
<h2> Course Details </h2>
Select a course to view <select #cor (change)="cor.value">
    <option value="Node JS">Node JS</option>
    <option value="Typescript">Typescript</option>
    <option value="Angular">Angular</option>
    <option value="React JS">React JS</option>
    </select><br/><br/>
<app-courses-list [cName]="cor.value"></app-courses-list>